@model Person
@{
   
}
<h1>Affichage de la personne n°@Model.Id</h1>


    <div class="row">
        <div class="col">@Model.LastName</div>
        <div class="col">@Model.FirstName</div>    
    </div>

