@model List<Person>
@{
    ViewData["Title"] = "Liste de Personnes";
}
<h1>@ViewData["Title"]</h1>

@foreach(Person p in Model)
{
    <div class="row">
        <div class="col">@p.LastName</div>
        <div class="col">@p.FirstName</div>
        <div class="col"><a asp-controller="Person" asp-action="Details" asp-route-id="@p.Id">Details</a></div>
    </div>
}
