.container{
    text-align: center;
    color: rgb(129, 129, 129);
    font-family: Consolas;
}
.banniere{
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.imageBanniere{
    height: 100px;
}
.textBan{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.btnNav{
    background-color: rgb(129, 129, 129);
    color: white;
    width: 100%;
    height: 35px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 25px;
}
.btnNav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.btnNav a:hover{
    color: orangered;
}
.code{
    margin-top: 20px;
    font-size: 20px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.tabIndex{
    margin-top: 40px;
    margin-bottom:40px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.bdCollapse{
    border-collapse: collapse;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
th,tr, td{
    border: 2px solid rgb(129, 129, 129);
    margin: 5px 10px;
    padding: 5px 10px;
}
th{
    background-color:rgb(129, 129, 129);
    color: white;
}
ol, ul{
    color: rgb(129, 129, 129);
}
section
{
    margin-top: 20px;
    font-size: 20px;    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: rgb(129, 129, 129) ;
    color: white;
    width: 100%;    
    align-items: center;
    align-content: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 20px;
}
footer a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
footer a:hover{
    color: orangered;
}
    

